.body{
  width:100%;
 height: 500px;
    
}

.title{
    
    font-family: "Helvetica Neue",sans-serif;
    
    font-size:  100px;
    
    
    }
.credit{
    position: relative;
    margin-left:2%;
}

 .song1{
    display:flex;
    font-size: 17px;
    list-style-type: none;
   
   
 }
.song1 ul{
    position: absolute;
    left: 70%;
    display:flex;
   list-style-type: none;
   
   
   
  
  }
.song1 li{
    
    padding-left: 50px;
    margin-bottom:100%;
}


.song2{
   
    
    display:flex;
    font-size:17px;
    
 }
.song2 ul{
    position:absolute;
    left: 70%;
    display:flex;
   list-style-type: none;
  
  }
.song2 li{
    padding-left: 50px;;
    margin-bottom:100%;
}

.song3{
   
   
    display:flex;
    font-size: 17px;
 }
.song3 ul{
    
    position:absolute;
    left: 70%;
    display:flex;
   list-style-type: none;
  
  }
.song3 li{
    padding-left: 50px;
    margin-bottom:100%;
}

.song4{
   
    display:flex;
    font-size: 17px;
 }
.song4 ul{
    position:absolute;
    left: 70%;
   
    display:flex;
   list-style-type: none;
  }
.song4 li{
    padding-left: 50px;
    margin-bottom:100%;

}

.releasename{
    font-size:25px;
   
    
}

.position{
    display: inline-block;
    font-size: 13px;
    padding-bottom:10px;
 
}

.date{
    font-size: 18px;
    
}